{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-native", "eslint-plugin-import", "@typescript-eslint"],
  "ignorePatterns": ["node_modules/**"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["warn", "single"],
    "no-trailing-spaces": "error",
    "semi": "error",
    "space-in-parens": "warn",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-shadow": "off",
    "no-undef": "off",
    "no-duplicate-imports": "error",
    "import/no-default-export": "warn",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "react/prop-types": "off"
  }
}
